<!DOCTYPE html>
<html lang="en">
<head>
    <p>
        <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
        <a href="{% url 'learning_logs:topics' %}">Список тем</a> -
        {% if user.is_authenticated %}
          <a href="{% url 'users:logout' %}">Выйти из учетной записи</a>
          Hello, {{ user.username }} !
        {% else %}
          <a href="{% url 'users:register' %}">Регистрация</a> -
          <a href="{% url 'users:login' %}">Выполнить вход</a>
        {% endif %}
    </p>
    {% block content %}{% endblock content %}
</head>
<body>

</body>
</html>