{% extends "learning_logs/base.html" %}

{% block header %}
  <div class='jumbotron'>
      <h1>Отслеживайте своё изучение!</h1>
  </div>
{% endblock header %}

{% block content %}
  <h2>
      <a class="nav-item" href="{% url 'users:register' %}">Зарегистрировать аккаунт</a> для создания
      собственного журнала обучения и списка тем, которые вы изучаете.
  </h2>
    -
  <h2>
      Каждый раз, когда вы узнаете что-то новое для себя, сделайте запись,
      подведя итог того, что вы изучили
  </h2>
{% endblock content %}