{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block header %}
  <h1 class="theme-text">Темы</h1>
{% endblock header %}

{% block content %}

<ul class="list-rectangle">
    {% for topic in topics %}
    <li>
        <h3>
            <a href="{% url 'learning_logs:topic' topic.id %}" style="color:#000000" >{{ topic }}</a>
        </h3>
    </li>
    {% empty %}
    <li>Темы еще не добавлены</li>
    {% endfor %}
</ul>

<h3>
    <a href="{% url 'learning_logs:new_topic' %}" style="color:#000000">Добавить новую тему</a>
</h3>

{% endblock content %}