<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TOPICS</title>
    {% extends "learning_logs/base.html" %}

    {% block content %}

    <p>Темы</p>

    <ul>
        {% for topic in topics %}
          <li>
              <a href="{% url 'topic' topic.id %}">{{ topic }}</a>
          </li>
        {% empty %}
          <li>Ни одной темы еще не добавлено</li>
        {% endfor %}
    </ul>

    <a href="{% url 'new_topic' %}">Добавить новую тему:</a>

    {% endblock content %}
</head>
<body>

</body>
</html>